body
{
    margin:0;
   
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
}
.colors
{
    width:100px;
    height:100px;
    border-radius:500px;
    transition:0.2s;
}
.colors:hover
{
    border:5px solid rgb(0, 217, 255);
    padding:10px;
    background-color: rgba(0, 217, 255, 0.214);
}
.divFlex
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.box
{
    display:block;
    margin:auto;
    width:200px;
    height:200px;
}

.pic
{
    width:250px;
    height:250px;
    border-radius: 12px;
    border:3px solid rgba(51, 0, 255, 0.469);;
}
.flexDiv
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.main
{
    background-color:rgb(51, 0, 255);
    width:100%;
    border-top: 10px solid rgba(0, 217, 255, 0.81);
    border-bottom: 10px solid rgba(0, 217, 255, 0.547);
    display:block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
    color:rgba(0, 0, 0, 0.587);
    

    background:linear-gradient(rgb(255,255,255),rgba(51, 0, 255, 0.199));
    background-repeat: no-repeat;
    background-size: 100%;
}

.opt
{
    font-size:30px;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgba(0, 0, 0, 0.749);
    background-color:rgba(0, 217, 255, 0.171);
    border:4px solid rgba(0, 217, 255, 0.547);
    padding:10px;
    border-radius: 300px;
    margin-bottom: 15px;
    transition:0.2s;
    width:600px;
}
.opt:hover
{
    background-color: rgb(0, 217, 255);
    font-weight: bold;
    font-size:35px;
    border-radius: 8px;
    
    color:black;
}
.infoW
{
    font-size:15px;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgba(0, 0, 0, 0.749);
    background-color:rgba(1, 72, 85, 0.171);
    border:4px solid rgba(0, 217, 255, 0.547);
    padding:10px;
    border-radius: 300px;
    margin-bottom: 15px;
    transition:0.2s;
    width:300px;
}
.infoDiv
{
    display:block;
    text-align: left;

}
.infoW:hover
{
    background-color: rgb(0, 217, 255);
    font-weight: bold;
    
    border-radius: 8px;
    
    color:black;
}
.input
{
    width:20px;
    height:20px;
    transition:0.2s;
}
.input:hover
{
    width:30px;
    height:30px;
}
.optionDiv
{
    display:block;
    text-align: center;
    justify-content: space-around;
    align-self: center;
}
.textBox
{
    width:400px;
    height:50px;
    border-radius: 20px;
    font-size:30px;
    text-align:center;
}

.submit
{
    font-size:25px;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgba(0, 0, 0, 0.749);
    background-color:rgba(0, 217, 255, 0.171);
    border:4px solid rgba(0, 217, 255, 0.547);
    padding:10px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition:0.2s;
    width:300px;
    margin-top:10px;
}
.submit:hover
{
    background-color: rgb(0, 217, 255);
    font-weight: bold;
    font-size:30px;
    border-radius: 20px;
    color:black;
}
.userInput
{
    border-radius: 20px;
    font-size:30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.file
{

}
input[type=file]
{
    background-color:rgba(252, 252, 252, 0);
    width:600px;
    text-align: center;
    border:none;
}
input[type=file]:hover
{
    background-color:rgba(252, 252, 252, 0);
}
input[type=file]::file-selector-button
{
    font-size:30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgba(0, 0, 0, 0.749);
    background-color:rgba(0, 217, 255, 0.171);
    border:4px solid rgba(0, 217, 255, 0.547);
    padding:10px;
    border-radius: 300px;
    margin-bottom: 15px;
    transition:0.2s;
    width:300px;
}
input[type=file]::file-selector-button:hover
{
    background-color: rgb(0, 217, 255);
    font-weight: bold;
    font-size:35px;
    border-radius: 8px;
    
    color:black;
}